.containerA{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: flex-start;
}

.containerB{
    margin: 20px 40px;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgb(67, 86, 255),rgb(162, 171, 255));
    color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2);
}

.containerC{
    margin: 30px 50% 30px 50%;
    padding: 20px 40px;
    border-radius: 10px;
    color:  rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.containerD{
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, rgb(67, 86, 255),rgb(162, 171, 255));
    color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2);
}

.containerE{
    margin: 20px 50% 20px 50%;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    color: rgb(51, 51, 51);
}

.input{
    margin: 20px;
    width: 300px;
}

#q{
    text-decoration: none;
    color: rgb(93, 93, 93);
}

#q:hover{
    color: rgb(173, 173, 173);
}

.buttonauth{
    border-radius: 20px;
    border: 2px rgb(255, 255, 255) solid;
    background: rgb(142, 154, 255);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: bold;
    padding: 12px 45px;
}

.buttonauth:hover{
    border-radius: 20px;
    border: 2px rgb(142, 154, 255) solid;
    background: rgb(255, 255, 255);
    color: rgb(142, 154, 255);
    font-size: 15px;
    font-weight: bold;
    padding: 12px 45px;
}

#input2{
    border: none;
    background-color: rgb(236, 236, 236);
    border-radius: 5px;
    padding: 8px;
}

#input2::placeholder{
    color: rgb(153, 153, 153);
}

#input2:focus::placeholder{
    color: rgb(192, 192, 192);
}

.form-control:focus {
    border: 3px solid;
    border-color: rgba(67, 86, 255, 0.378);
    outline: 0;
    box-shadow: none;
}

.lab{
    color: rgba(0, 0, 0, 0.6);
}

