.logo {
    margin: 10px;
}

#container1{
    text-align: justify;
    margin: 30px 17% 0px 17%;
}

@media (max-width: 1000px) and (min-width:0px){
    #container1 {margin: 10px;}
 }

.text1{
   text-align: justify;
   margin-top: 30px;
}

p{
    font-size: 20px;
}

.body{
    font-family: 'Roboto', sans-serif;
}

#footer{
   margin-left: 9%;
   margin-right: 10%;
}

#header{
    font-size: 15px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.636);
    font-size: 20px;

}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(255, 255, 255);
}

.navbar-dark .navbar-brand {
    color: #fff;
    font-weight: bolder;
    font-size: 30px;
}

.link-secondary {
    width: 45px;
    height: 45px;
    transition: filter .3s ease-in-out;
    filter: grayscale(99%);
    margin-bottom: 10px;
}

.link-secondary:hover {
    filter: grayscale(0%);
}

#count{
    color: #fff;
    font-size: 30px;
    margin: 20px;
}

@media (max-width: 1200px){
    #count{display: none;}
 }

#timer{
    width: 60px;
}

.input0{
    margin: 10px;
    margin-left: 0px;
}

.container{
    padding-left: 4px;
}

.in{
    opacity: .6;
    transition: opacity .3s ease-in-out;
    width: 40px;
}

.in:hover{
    opacity: 1;
}

.navbar-brand{
    opacity: 1;
    transition: opacity .3s ease-in-out;
}

.navbar-brand:hover{
    opacity: 0.7;
}

.pao{
    color: rgba(0, 0, 0, 0.481);
}